DEV_DB_URL=jdbc:postgresql://localhost:5432/postgres
DEV_DB_USERNAME=postgres
DEV_DB_PASSWORD=postgres
DEV_MAIL_USERNAME=your_mail_username
DEV_MAIL_PASSWORD=your_mail_password
DEV_JWT_SECRET=your_jwt_secret
DEV_JWT_EXPIRATION=86400000
DEV_JWT_REFRESH_EXPIRATION=604800000
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
